.footer{
    margin-top: 50px;
}
.footer-top-section{
    padding: 2rem 0px;
}
.footer p{
    color: currentColor;
}
.footer hr{
    margin: 0%;
}
.footer-text{
    margin: 0%;
    padding: 13px 0px;
}